<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" >
<listeners>
<listener class-name="Academy.E2Eflow.Listeners"/>
</listeners>
  
<test name="test">
    <classes>
      <class name="Academy.E2Eflow.AppTest"/>

</classes>
</test>
<test name="test1">
<classes>
      <class name="Academy.E2Eflow.homepage"/>
    </classes>
</test>
<test name="test2">
<classes>
      <class name="Academy.E2Eflow.Validatingtitle"/>
    </classes>
</test>
 

</suite> <!-- Suite -->
